---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleList from "../components/ArticleList.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle="Welcome to Astro.">
	<h2>My Astro Learning Blog</h2>
	<p>This is where I will post about my journey learning Astro.</p>
	<ul>
		{allPosts.map((post) => <ArticleList url={post.url} title={post.frontmatter.title} />)}
	</ul>
	<script>
		import '../scripts/menu';
	</script>
</BaseLayout>
